$border-light-grey-color: #D7D7D7;
$font-size-title: 24px;
$small-rem: 0.5rem;
$medium-rem: 1rem;
$big-rem: 1.5rem;
$huge-rem: 2rem;
$font-weight: 400;
$bg-light-grey-color: #E4E4E4;
$text-light-grey: #747474;
$blue-color: #047CCC;
$orange-color: #FC6C11;
$image-color: #88bdfb;