@use '../../shared/scss/variables.scss' as variables;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 20vh;
}

.add-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid variables.$blue-color;

    h1 {
        margin: 0 auto;
        margin-left: -1rem;
        font-size: variables.$font-size-title;
        font-weight: variables.$font-weight;
    }
}

.add-general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:variables.$medium-rem;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid variables.$border-light-grey-color;
    padding: variables.$medium-rem variables.$small-rem;
    border-radius: 4px;
}

.name-questionnaire {
    height:variables.$huge-rem;
    width: 100%;
    max-width: 25rem;
    border-radius: 2px;
    border: 1px solid black;
    text-align: center;
}

label {
    margin-bottom: -0.1rem;
}

.add-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: variables.$small-rem;
    width: 100%;
    gap: 0.2rem;

    div {
        flex: 1;
        max-width: 15rem;
        text-align: left;
    }

    label {
        text-align: left;
        display: block;
    }

    input {
        width: 100%;
        max-width: 11rem;
        width: 11rem;
        height: variables.$huge-rem;
        padding-left: -0.5rem;
    }

    .input.is-invalid {
        max-width: 10rem;
        width: 10rem;
    }
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
    margin-top: variables.$small-rem;
}

.description-input {
    width: 100%;
    height: 8rem;
}

.target-group-container {
    width: 100%;
    padding: variables.$small-rem 0rem;
}

.target-group-input {
    height: variables.$huge-rem;
    border: 1px solid variables.$border-light-grey-color;
    border-radius: 4px;
}

.is-invalid {
    border: 1px solid #e6171d;
}