@use '../../shared/scss/variables.scss' as variables;

.question-card {
  border: 1px solid variables.$border-light-grey-color;
  background-color: #fff;

}

.question-title {
  font-size: 16px;
  font-weight: variables.$font-weight;
  color: #333;
}

.total-answers {
  font-size: 13px;
  color: variables.$text-light-grey;
}

.option-result {
  margin-bottom: variables.$medium-rem;

  .option-label {
    font-size: 14px;
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: variables.$small-rem;
  }

  .percentage-bar-container {
    background-color: variables.$bg-light-grey-color;
    border-radius: 4px;
    overflow: hidden;
    height: 10px;
    width: 100%;

    .percentage-bar {
      height: 100%;
      background-color: variables.$blue-color;
      transition: width 0.3s ease;
    }
  }

  .percentage-text {
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    margin-left: variables.$small-rem;
  }
}

.loading-spinner {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0 variables.$small-rem;
    width: 100%;
    margin: 0;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: variables.$small-rem variables.$medium-rem;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


label {
    font-weight: variables.$font-weight;
}
