
* {
    margin: 0;
    font-family: open sans;
    // font-size: 14px;
    box-sizing: border-box;
}

body  {
    background-color: #F4F4F4;
    margin: 0;
}

.back-button {
    margin-right: auto;
    margin-left: 1rem;
    color: black;
}

button {
    width: 8rem;
}

ul {
    margin: 0;
    padding: 0;
    width: 10rem;
}